<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
   

  <appSettings>
    <add key="LogFileDirectory"  />
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Logueo; Connect Timeout=50;Persist Security Info=True;Current Language=Español"/>
  </appSettings>

</configuration>